<div class="container">
  <% if params[:query].present? %>

    <% if artists.empty? && events.empty? && genres.empty? %>
      <h1 class="results-search"><%= 'No results found...'%></h1>
    <% else %>
      <div class="row justify-content-between">
      <% unless artists.empty? %>
        <div class="col-md-6">
          <div class="sorted-table mb-4" id="event-artist">
            
              <h3 class="mb-3">Artists</h3>
                <ul>
                  <% artists.each do |artist| %>
                    <li class="mb-3"><%= cl_image_tag artist.searchable_type.constantize.find(artist.searchable_id).photo.key, class: "avatar-search mr-3" %><%= link_to "#{artist.searchable_type.constantize.find(artist.searchable_id).artist_name}", profile_path(artist.searchable_id) %></li>
                  <% end %>
                </ul>
          </div>
        </div>
      <% end %>

      <% unless events.empty? %>
        <div class="col-md-6">
          <div class="sorted-table mb-4" id="event-event">
              <h3 class="mb-3">Events</h3>
                <ul>
                  <% events.each do |event| %>
                    <li class="mb-3"><%= cl_image_tag event.searchable_type.constantize.find(event.searchable_id).photo.key, class: "avatar-search mr-3" %><%= link_to "#{event.searchable_type.constantize.find(event.searchable_id).event_name}", event_path(event.searchable_id) %></li>
                  <% end %>
                </ul>
          </div>
        </div>
      <% end %>

      <% unless genres.empty? %>
        <div class="col-md-6">
          <div class="sorted-table mb-4" id="event-genre">
              <h3 class="mb-3">Genres</h3>
                <ul>
                  <% genres.each do |genre| %>
                    <li class="mb-3"><%= image_tag "genre.png", class: "avatar-search mr-3" %><%= link_to "#{genre.searchable_type.constantize.find(genre.searchable_id).name}", events_path(query: genre.searchable_type.constantize.find(genre.searchable_id).name, search: true) %></li>
                  <% end %>
                </ul>
          </div>
        </div>
      <% end %>
      
      <% unless events.empty? %>
        <div class="col-md-6">
          <div class="sorted-table mb-4" id="event-genre">
              <h3 class="mb-3">Countries</h3>
                <ul>
                  <% events.each do |event| %>
                    <li class="mb-3"><%= image_tag "globe.png", class: "avatar-search mr-3" %><%= link_to "#{event.searchable_type.constantize.find(event.searchable_id).country}", events_path(country: event.searchable_type.constantize.find(event.searchable_id).country, search: true) %></li>
                  <% end %>
                </ul>
          </div>
        </div>
      <% end %>

      <% unless events.empty? %>
        <div class="col-md-6">
          <div class="sorted-table mb-4" id="event-genre">
            <h3 class="mb-3">Cities</h3>
              <ul>
                <% events.each do |event| %>
                  <li class="mb-3"><%= image_tag "city.png", class: "avatar-search mr-3" %><%= link_to "#{event.searchable_type.constantize.find(event.searchable_id).city}", events_path(city: event.searchable_type.constantize.find(event.searchable_id).city, search: true) %></li>
                <% end %>
              </ul>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  <% end %>
</div>