<%= render 'shared/banner' %>

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All available shows</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for '<%= @query %>'. We found <%= @events.count %> events out of our <%= Island.count %> on our website.</p>
      <% else %>
        <p>Displaying all <%= Event.count %> events.</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @events.each do |event| %>
    <%= link_to event_path(event) do %>
      <div class="col-4">
        <div class="event-card">
          <% if event.photo.attached? %>
            <div class="event-card-image" style="height: 100px; background-image: url('<%= cl_image_path event.photo.key %>')"></div>
          <% else %>
             <div class="event-card-image" style="height: 100px; background-image: url(<%= 'https://ichef.bbci.co.uk/news/1024/cpsprodpb/3FCE/production/_112543361_gettyimages-1148471940.jpg' %>)"></div>
          <% end %>
          <div class="event-card-content">
            <div class="event-card-title">
              <h4><%= event.event_name %></h4>
            </div>
            <p>Hosted by artsit name </p>
              <div class="flex">
                <%= event.city %> | <%= event.start_time %> | 
              </div>

                <p>£<%= event.price_cents %><p>
                <p>£ <%= Money.new(event.price_cents.to_s, :gbp) %><p>

          </div>

          <div class="event-card-button">
            <%= link_to 'Find out more', event_path(event) %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>
</div>
