<%= render 'shared/banner' %>

<% @events.each do |event| %>
<p><%= event.event_name %> - <%= event.price_cents %></p>

<%= form_tag orders_path do %>
  <%= hidden_field_tag 'event_id', event.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
  <% end %>

<% end %>
