<%= render 'shared/banner' %>

<div class="container-home">
  <div class="row">
    <div class="col-12">
      <h1>All available shows</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for '<%= @query %>'. We found <%= @events.count %> events out of our <%= Island.count %> on our website.</p>
      <% else %>
        <p>Displaying all <%= Event.count %> events.</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @events.each do |event| %>
    <%= link_to event_path(event) do %>
      <div class="col-4">
        <div class="event-card">
          <% if event.photo.attached? %>
            <div class="event-card-image" style="height: 150px; background-image: url('<%= cl_image_path event.photo.key %>')"></div>
          <% else %>
             <div class="event-card-image" style="height: 150px; background-image: url(<%= 'https://static.billboard.com/files/2020/12/chloe-x-halle-tiny-desk-2020-billboard-1548-1607458577-compressed.jpg' %>)"></div>
          <% end %>
          <div class="event-card-content">
            <div class="event-card-title">
              <h4><%= event.event_name %></h4>
            <p>Hosted by <%= event.user.first_name %></p>
             </div>
              <div class="flex">
                <%= event.city %> | <%= event.start_time.strftime('%A, %b %d') %> | 
              </div>
                <%# <p>£<%= Money.new(event.price_cents.to_s, :gbp) %>
            <div class="genre-box">
                <span><%= event.genres[0].name %> </span>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>
</div>
