
<% if @event.photo.attached? %>
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url('<%= cl_image_path @event.photo.key %>');">
  <div class="container" id="event-header" >
    <h1><%= @event.user.artist_name %></h1>
    <h2><%= @event.start_time.strftime('%e %B %Y') %></h2>
  </div>
</div>
      <% else %>
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url('https://res.cloudinary.com/soundbetter/image/upload/c_fill,f_auto,g_face:auto,h_288,q_90,w_540/v1610559632/assets/photos/55969/IMG_3093.jpg');">
  <div class="container">
        <h1><%= @event.user.artist_name %></h1>
    <h2><%= @event.start_time.strftime('%A, %b %d') %></h2>
  </div>
</div>
<% end %>

<div class ="container">


<div class ="body-flex">

<div class="flex-left">

<h1><%= @event.event_name %></h1>
</br>
<h4>Hosted by <%= link_to @event.user.artist_name, profile_path(@event.user_id) %></h4>
</br>
<h4>Event Description</h4>

<p><%= @event.description %></p>
</br>
<h4>About the artist</h4>


<p><%= @event.user.bio %></p>

</div>

<div class="flex-right">

<p><%= @event.city %>, <%= @event.country %></p>

<p><%= @event.start_time.strftime('%A, %b %d') %></p>

<p><%= @event.start_time.strftime('%l:%M %p') %></p>

<p>£<%= Money.new(@event.price_cents.to_s, :gbp) %></p>

<p style="color:gray">Please note: all events are currently available to stream worldwide</p>

</br>
  <% if Order.where(event: @event, state: 'paid', user: current_user).any? %>
    <%= link_to "Go to stream", room_path(@event.room), class: 'btn btn-primary' %>
    <% else %>
    <%= form_tag orders_path do %>
    <%= hidden_field_tag 'event_id', @event.id %>
    <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
    <% end %>
<% end %>

</div>
</div>
</div>
