<div class="banner-small" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://diymusician.cdbaby.com/wp-content/uploads/2016/12/studio-image-diy-blog.jpeg);">
  <div class="container">
    <h1>Order Summary</h1>
  </div>
</div>

<div class="container">
      <h1>Congratulations, your order is successful!</h1>
      <br>
      <ul class="list-unstyled">
        <li><strong>ORDER NUMBER: </strong> #<%= @order.id %></li>
        <li><strong>ORDER STATUS: </strong> <%= @order.state %></li>
        <li><strong>ISSUED ON: </strong> <%= @order.created_at.to_date %></li>
        <li><strong>EVENT: </strong> <%= @order.event.event_name %> [<%= @order.event_sku %>]</li>
        <li><strong>TOTAL: </strong> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>

  <%= link_to "Go to stream", room_path(@order.event.room), class: "btn btn-success"  %>
</div>
