<div class="banner-small" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://diymusician.cdbaby.com/wp-content/uploads/2016/12/studio-image-diy-blog.jpeg);">
  <div class="showtime">
  <% if @room.event.start_time > Time.now %>
    <h1>This stream starts at <%= @room.event.start_time %> </h1>
  </div>
  <% else %>
    <div id="videos"
          data-controller="vonage"
          data-vonage-api-key="<%= ENV["VONAGE_API_KEY"] %>"
          data-vonage-session-id= "<%= @room.vonage_session_id %>"
          data-vonage-token="<%= @token %>"
          data-vonage-name="<%= current_user.first_name %>">
    </div>
  <% end %>
